.text-type {
  display: inline-grid;
  white-space: nowrap;
}

.text-type--multiline {
  display: grid;
  width: 100%;
  white-space: normal;
}

/* Invisible element that reserves width for the longest text */
.text-type__spacer {
  visibility: hidden;
  grid-area: 1 / 1;
  white-space: pre;
  pointer-events: none;
}

.text-type--multiline .text-type__spacer {
  display: block;
  width: 100%;
  white-space: normal;
}

/* Wrapper for visible content, overlays the spacer */
.text-type__visible {
  grid-area: 1 / 1;
  display: inline-flex;
  align-items: center;
}

.text-type--multiline .text-type__visible {
  display: block;
}

.text-type__content {
  display: inline;
}

.text-type__cursor {
  display: inline;
  margin-left: 0.08em;
}

.text-type__cursor--hidden {
  opacity: 0;
}
